*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .header-bg{
    background-color: rgba(0,150,136,255);
}

.main-bg{
    background-color: rgba(218,219,211,255);
} */

#app{
    height: 650px;
    width: 100vw;
    background: rgb(217,219,211);
    background: linear-gradient(0deg, rgba(217,219,211,1) 85%, rgba(0,150,136,1) 85%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 90%;
    width: 70%;
    background-color: white;
    display: flex;
}

/* LEFT */

.left{
    width: 30%;
    height: 100%;
}

.left .header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
}

.left .user{
    height: 100%;
    min-width: 20%;
}

.left .action{
    height: 100%;
    min-width: 20%;
}

.left .notification{
    height: 10%;
    width: 100%;
    display: flex;
    flex-grow: 1.0;
    background-color: #8edafc;
}

.left .notification .icon{
    aspect-ratio: 1/1;
}

.left .notification .text{
    display: flex;
    flex-grow: 1.0;
}

.left .main{
    background-color: #ffffff;
    width: 100%;
    height: calc(100% - 20%);
}

.left .main .search-bar{
    height: 5%;
    background-color: #ffffff;
}

.left .main .contact-list{
    height: calc(100% - 5%);
    background-color: #ffffff;
}

.left .main .single-contact{
    height: 10%;
    background-color: #ffffff;
    border-top: 1px solid #eaeaea;
}

/* RIGHT */

.right{
    width: calc(100% - 30%);
    height: 100%;
}

.right .header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
}

.right .contact{
    height: 100%;
    min-width: 20%;
    background-image: ;
}

.right .action{
    height: 100%;
    min-width: 20%;
}

.right .main{
    width: 100%;
    height: calc(100% - 20%);
}

.right .footer{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #eaeaea;
}

